.newMessage {
  animation-name: newMessage;
  animation-duration: 250ms;
  animation-iteration-count: 1;
}

@keyframes newMessage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dieingMessage {
  animation-name: newMessage;
  animation-duration: 300ms;
  animation-iteration-count: 1;
}

@keyframes dieingMessage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
