@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src:
    url(./fonts/inter-latin-variable-wghtOnly-normal.woff2)
      format('woff2-variations'),
    url(./fonts/inter-latin-400-normal.woff2) format('woff2'),
    url(./fonts/inter-latin-400-normal.woff) format('woff');
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215,
    u+feff, u+fffd;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2d2d2d;
}
