@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.twitchcdn.net/assets/inter-latin-variable-wghtOnly-normal-a05a0d687a088c4efed3.woff2)
        format('woff2-variations'),
      url(https://static.twitchcdn.net/assets/inter-latin-400-normal-a05a0d687a088c4efed3.woff2)
        format('woff2'),
      url(https://static.twitchcdn.net/assets/inter-latin-400-normal-10194357ec5e44ae1777.woff)
        format('woff');
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
      u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215,
      u+feff, u+fffd;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;